@import '../tokens/colors.scss';
@import '../tokens/spacing.scss';
@import '../tokens/typo.scss';

.Post {
  margin-block-end: $space-3;
  border: 1px solid $gray-2;
  background-color: $white;
  border-radius: .2rem;
  box-shadow: $card-shadow;

  & > div:first-child {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-column-gap: $space-2;
    padding: $space-3 $space $space-2;
  }

  &__avatarContainer {
    inline-size: 4rem;
    block-size: 4rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user {
    display: block;
    font-size: $p-mobile;
    color: $primary-color;
    font-weight: $bold;
  }

  &__time {
    font-size: $small-mobile;
    color: $gray-1;
  }

  &__text {
    font-size: $p-mobile;
    margin: 0;
    margin-block-start: $space;
  }

  &__actions {
    display: flex;
    border-block-end: 1px solid $gray-2;

    button {
      inline-size: 50%;
      padding: 1.2rem;
      border: none;
      color: $primary-color;
      font-size: $button-mobile;
      background-color: transparent;
      cursor: pointer;

      &:first-child {
        border-inline-end: 1px solid $gray-2;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .Post {
    display: flex;
    flex-direction: column-reverse;
    margin-block-end: $space-4;

    & > div:first-child {
      order: 2;
      grid-template-columns: 6rem 1fr;
      grid-column-gap: $space-3;
      padding: $space-3 $space-3 $space-2;
    }

    &__avatarContainer {
      inline-size: 6rem;
      block-size: 6rem;
    }

    &__user {
      font-size: $p;
    }

    &__time {
      font-size: $small;
    }

    &__text {
      font-size: $p;
      margin-block-start: $space-2;
    }

    &__actions {
      order: 1;
      border-block-end: 0;
      margin-block-end: $space-5;
      margin-inline-start: 8.8rem;

      button {
        inline-size: auto;
        padding: 0 1.2rem;
        color: $primary-color;
        font-size: $button;

        &:first-child {
          border-inline-end: 0;
        }
      }
    }
  }
}
