//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$primary-color: #30C96F;
$green_brand: #98ca3d;

// Basic colors
$white: #fff;
$black: #070707;

// Boolean colors
$positive: #15ff93;
$negative: #f04f8d;

// Gray
$gray-1: #777777;
$gray-2: #DFDFDF;
$gray-3: #F6F6F4;
$gray-4: #F4F4F4;