//   ██████╗ ██████╗ ██╗      ██████╗ ██████╗
//  ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗
//  ██║     ██║   ██║██║     ██║   ██║██████╔╝
//  ██║     ██║   ██║██║     ██║   ██║██╔══██╗
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║
//   ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝
//

$primary-color: #30C96F;

// Basic colors
$white: #fff;
$black: #070707;

// Boolean colors
$positive: #15ff93;
$negative: #f04f8d;

// Gray
$gray-1: #777777;
$gray-2: #DFDFDF;
$gray-3: #F6F6F4;
$gray-4: #F4F4F4;

// Shadows
$box-shadow: 0px 1px 3px rgba(7, 7, 7, 0.1);;